$colorBG: #21232E;
$imgBG: url(../img/m-h-night.jpg);
$pageBackground: #21232e;
$sectionBG: #3b3f50;
$section_color: #d1d1d1;
$font: 'Fresca', sans-serif;
$tColor: #fff;
$footerLogoColor: #c0c3ce;
$footerBG: #3B3F50;
$linear-gradient: linear-gradient(45deg, #E2AB01, #CA8519 25%, #B8672C 50%, #A14344 75%, #922B54 100%);
$button_color: #e3ac00;
$underline_color: #ff4e33;