$colorBG: #FFF;
$imgBG: url(../img/m-h-day.jpg);
$pageBackground: white;
$sectionBG: #21232e;
$section_color: #b6c3ce;
$font: 'Hind', sans-serif;
$tColor: #2c2f3c;
$footerLogoColor: #c0c3ce;
$footerBG: #21232E;
$linear-gradient: linear-gradient(45deg, #699902, #54844b 25%, #47757a 50%, #3b69a8 75%, #2c5ade 100%);
$button_color: #699900;
$underline_color: #14a0c7;