@media screen {
    .tm-main-nav {
        margin: 0 auto;
        max-width: 1574px;
    }
        .tm-main-nav .tm-nav-item:hover {
            background-color: lightskyblue;
            color: #fff;
        }
        .tm-main-nav .tm-nav-item-link:hover {
            color: white;
        }
    #home, .tm-main-nav, .carousel-item {
        box-shadow: 1px 1px 15px rgba(61, 55, 61, 0.7);
    }
    #home, section, .tm-main-nav {
        box-shadow: 0px 0px 10px rgba(61, 55, 61, 0.7);
    }
    .tm-banner {
        background: linear-gradient(to right, lightskyblue, burlywood);
    }
    .tm-banner-inner {
        background-color: #fff;
    }
    .tm-banner-text {
        margin: 0;
        padding: 0;
        position: relative;
        text-shadow: 4px 4px 3px #333;
        animation-name: move;
        animation-duration: 3s;
        animation-timing-function: linear;
    }
    section::before {
        content: "";
        border-style: solid;
        border-width: 47px 47px 0 0;
        border-color: lightskyblue transparent transparent transparent;
        width: 0;
        height: 0;
    }
    .tm-content-box .tm-team-description-container {
        max-width: 330px;
        vertical-align: middle;
        padding-right: 0px;
        padding-top: 220px;
        float: left;
    }
    .tm-section-title {
        text-align: center;
    }
    .tm-section-description {
        text-indent: 1.5em;
        line-height: 29px;
    }
    .flex-item.tm-team-img {
        float: right;
    }
    .tm-box-bg-title:hover {
        background-color: lightgrey;
        color: lightskyblue;
    }
    .heading .padding-medium h2 {
        text-transform: uppercase;
        text-align: center;
        color: lightskyblue;
    }
    .padding-medium ol {
        list-style-type: lower-alpha;
    }
    .padding-medium li:hover::before {
        content: ">";
        font-weight: bold;
    }
    .padding-medium li .text::after {
        content: "New";
        position: absolute;
        font-weight: bold;
        font-size: 8px;
        font-variant: small-caps;
        vertical-align: super;
        color: red;
    }
    .blocks .tm-section-title {
        text-align: left;
        margin-bottom: 24px;
    }
    .blocks .tm-section-description:nth-child(3) {
        font-style: italic;
        word-spacing: 10px;
        letter-spacing: 5px;
    }
    .box-work div p {
        font-style: italic;
    }
    .blocks .gallery-container .box:nth-child(odd) {
        background-color: lightskyblue;
        color: white;
    }
    .box-work div p:first-letter {
        font-weight: bold;
    }
    .blocks ul li {
        padding: 10px;
    }
    .carousel-inner .carousel-content .tm-section-description {
        text-indent: 25px;
        line-height: 30px;
    }
    #contact_name:focus,
    #contact_email:focus,
    #contact_subject:focus {
        color: white;
        background-color: lightblue;
    }
    #contact_message {
        background-image: url(../img/email-icon.png);
        background-repeat: no-repeat;
        background-position: right 10px bottom 10px;
        background-size: 30px;
        border-color: lightblue;
    }
    @keyframes move {
        from, to {
            right: -200px;
            right: 0px;
        }

        0% {
            right: -200px;
        }

        40% {
            right: -60px;
        }

        60% {
            right: -35px;
        }

        80% {
            right: -15px;
        }

        100% {
            right: 0px;
        }
    }

    #contact #contact_name {
        border: none;
        border-bottom: 1px solid lightskyblue;
    }

    #contact #contact_email {
        border: none;
        border-bottom: 1px solid lightskyblue;
    }

    #contact .tm-section-title {
        text-align: left;
    }

    #contact #contact_subject {
        border: none;
        border-bottom: 1px solid lightskyblue;
    }

    #contact .submit-btn {
        background: white;
        border-color: lightblue;
        color: lightskyblue;
        float: right;
        padding: 17px 27px;
    }
}
    @media print {
        body {
        padding: 0;
        background-color: #ffffff;
        font-size: 14px;
    }
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .tm-main-content {
        padding: 0;
    }
    .tm-content-box.tm-content-header {
        margin-top: 0;
        padding: 0;
    }
    .tm-content-box .tm-team-description-container {
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    .tm-content-box .padding-medium .tm-section-description {
        text-align: center;
        margin-left: 90px;
        margin-right: 90px;
    }
    h2 {
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
        color: lightskyblue;
        font-weight: 300;
    }
    .blocks .tm-section-title {
        margin-top: 20px;
    }
    .blocks .tm-team-description-container {
        max-width: 100%;
        text-align: center;
    }

    .blocks .tm-section-description {
        text-align: center;
        margin-left: 90px;
        margin-right: 90px;
    }
    .blocks .tm-section-description:nth-child(3) {
        text-align: center;
        font-style: italic;
        word-spacing: 8px;
        letter-spacing: 5px;
    }
    ol {
        max-width: 35%;
        margin: 0 auto;
        padding: 0;
    }
    .heading
    .tm-content-box
    .padding-medium li::first-letter {
        font-size: 26px;
        color: lightskyblue;
        font-weight: 300;
    }
    .padding-medium {
        margin: 0;
        padding: 0;
    }
    .padding-medium li:nth-child(odd) {
        text-align: right;
    }
    .carousel-inner .carousel-description {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
    }
    .carousel {
        padding-top: 0;
        padding-bottom: 0;
    }
    li {
        list-style-type: none;
    }
    section {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    #home,
    .tm-content-box {
        margin: 0;
    }
    #about,
    #ideas + section,
    .tm-main-nav,
    .tm-content-box ul,
    .carousel-indicators,
    .tm-team-img {
        display: none;
    }
}
